:root {
    --bs-bg: #343a40;  /* dark background */
    --bs-text: #ffffff;  /* white text */
}

body {
    font-family: monospace;
    background-color: var(--bs-bg);
    color: var(--bs-text);
}

#content {
    min-height: 100vh;
}

#navbar {
    width: 20%;
}

#navbar a {
    display: block;
    background-color: #f0f0f0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

#navbar a:hover {
    box-shadow: 0 0 10px #fff;
}

#main_window {
    width: 80%;
    float: right;
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-me-in.htmx-added {
  opacity: 0;
}

.fade-me-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}